MONGO_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/metaverso_manaus?retryWrites=true&w=majority
MONGO_DATABASE=metaverso_manaus
PORT=3001
WORLD_NAME=Manaus Online
JWT_SECRET=troque-este-segredo-em-producao
CORS_ORIGIN=http://localhost:5173
